
WebPage<Dependency>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Conferences;
@using DotNetNuke.Web.Mvc.Helpers;

<div class="form-horizontal">
 <div class="form-group">
   <label for="DependencyId" class="col-sm-2 control-label">@Dnn.LocalizeString("DependencyId")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.DependencyId, new { @class = "form-control", placeholder = Dnn.LocalizeString("DependencyId"), required = &quot;true&quot;, type = &quot;number&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="ComponentHistoryId" class="col-sm-2 control-label">@Dnn.LocalizeString("ComponentHistoryId")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.ComponentHistoryId, new { @class = "form-control", placeholder = Dnn.LocalizeString("ComponentHistoryId"), required = &quot;true&quot;, type = &quot;number&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="FullName" class="col-sm-2 control-label">@Dnn.LocalizeString("FullName")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = Dnn.LocalizeString("FullName"), required = &quot;true&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="Version" class="col-sm-2 control-label">@Dnn.LocalizeString("Version")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.Version, new { @class = "form-control", placeholder = Dnn.LocalizeString("Version"), required = &quot;true&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="VersionNormalized" class="col-sm-2 control-label">@Dnn.LocalizeString("VersionNormalized")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.VersionNormalized, new { @class = "form-control", placeholder = Dnn.LocalizeString("VersionNormalized"), required = &quot;true&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="Name" class="col-sm-2 control-label">@Dnn.LocalizeString("Name")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = Dnn.LocalizeString("Name"), required = &quot;true&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="DepComponentHistoryId" class="col-sm-2 control-label">@Dnn.LocalizeString("DepComponentHistoryId")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.DepComponentHistoryId, new { @class = "form-control", placeholder = Dnn.LocalizeString("DepComponentHistoryId"), type = &quot;number&quot; })
   </div>
 </div>
</div>
