
WebPage<MemberCodeBlock>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Conferences;
@using DotNetNuke.Web.Mvc.Helpers;

<div class="form-horizontal">
 <div class="form-group">
   <label for="CodeBlockId" class="col-sm-2 control-label">@Dnn.LocalizeString("CodeBlockId")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.CodeBlockId, new { @class = "form-control", placeholder = Dnn.LocalizeString("CodeBlockId"), required = &quot;true&quot;, type = &quot;number&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="MemberId" class="col-sm-2 control-label">@Dnn.LocalizeString("MemberId")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.MemberId, new { @class = "form-control", placeholder = Dnn.LocalizeString("MemberId"), required = &quot;true&quot;, type = &quot;number&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="Version" class="col-sm-2 control-label">@Dnn.LocalizeString("Version")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.Version, new { @class = "form-control", placeholder = Dnn.LocalizeString("Version"), required = &quot;true&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="CodeHash" class="col-sm-2 control-label">@Dnn.LocalizeString("CodeHash")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.CodeHash, new { @class = "form-control", placeholder = Dnn.LocalizeString("CodeHash"), required = &quot;true&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="StartLine" class="col-sm-2 control-label">@Dnn.LocalizeString("StartLine")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.StartLine, new { @class = "form-control", placeholder = Dnn.LocalizeString("StartLine"), type = &quot;number&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="StartColumn" class="col-sm-2 control-label">@Dnn.LocalizeString("StartColumn")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.StartColumn, new { @class = "form-control", placeholder = Dnn.LocalizeString("StartColumn"), type = &quot;number&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="EndLine" class="col-sm-2 control-label">@Dnn.LocalizeString("EndLine")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.EndLine, new { @class = "form-control", placeholder = Dnn.LocalizeString("EndLine"), type = &quot;number&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="EndColumn" class="col-sm-2 control-label">@Dnn.LocalizeString("EndColumn")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.EndColumn, new { @class = "form-control", placeholder = Dnn.LocalizeString("EndColumn"), type = &quot;number&quot; })
   </div>
 </div>
 <div class="form-group">
   <label for="FileName" class="col-sm-2 control-label">@Dnn.LocalizeString("FileName")</label>
   <div class="col-sm-10">
     @Html.TextBoxFor(m => m.FileName, new { @class = "form-control", placeholder = Dnn.LocalizeString("FileName") })
   </div>
 </div>
</div>
