@inherits ApiBrowserWebPage
@using Connect.DNN.Modules.ApiBrowser.Common;
@{
    ApiBrowserModuleContext.AddModuleScript();
}

<div class="text-right">
     <a href="@Url.Action("Index", "Components")" class="btn btn-default">
      @Dnn.LocalizeString("Components")
     </a>
     <a href="@Url.Action("Index", "Search")" class="btn btn-default">
      @Dnn.LocalizeString("Search")
     </a>
 @if (ApiBrowserModuleContext.Security.CanModerate)
 {
     <a href="@Url.Action("Moderate", "Documentation")" class="btn btn-default">
      @Dnn.LocalizeString("Moderate")
     </a>
 }
 @if (ApiBrowserModuleContext.Security.CanEdit)
 {
     <a href="@Url.Action("Upload", "Files")" class="btn btn-default">
      @Dnn.LocalizeString("Upload")
     </a>
 }
</div>

<div class="connectapibrowser newui"
     data-locale="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-tabid="@Dnn.ActiveModule.TabID"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(ApiBrowserModuleContext.Security))"
     data-detail-link="@Url.Action("Namespace", "Namespaces")">
</div>

