@inherits ApiBrowserWebPage
@using Connect.DNN.Modules.ApiBrowser.Common;
@{
    var all = Connect.ApiBrowser.Core.Data.Sprocs.GetNamespacesAndClasses(Dnn.ModuleContext.ModuleId);
}

<table class="table">
 <thead>
  <tr>
   <th>@Dnn.LocalizeString("Name")</th>
   <th>@Dnn.LocalizeString("Description")</th>
  </tr>
 </thead>
 <tbody>
  @foreach(var a in all)
  {
      <tr>
       <td>
        <a href="@Url.Action("Namespace", "Namespaces", new { view = a.Name })">@a.Name</a>
        @if (a.ClassId == -1)
        {
            <span class="greylabel">Namespace</span>
        }
        else
        {
            <span class="greylabel">Class</span>
        }
        @if (a.IsDeprecated)
        {
            <span class="redhighlight">@Dnn.LocalizeString("Deprecated")</span>
        }
       </td>
       <td>@a.Description</td>
      </tr>
  }
 </tbody>
</table>

@if (ApiBrowserModuleContext.Security.CanEdit)
{
    <a href="@Url.Action("Upload", "Files")" class="btn btn-default">
     @Dnn.LocalizeString("Upload")
    </a>
}
