@inherits ApiBrowserWebPage
@using Connect.DNN.Modules.ApiBrowser.Common;
@{
    ApiBrowserModuleContext.AddModuleScript();
}

<div class="connectapibrowser moderation"
     data-locale="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-tabid="@Dnn.ActiveModule.TabID"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(ApiBrowserModuleContext.Security))"
     data-documentation-link="@Url.Action("Edit", "Documentation")"
     >
</div>

<div class="text-right">
 <a href="@Url.Action("Index", "Home")" class="btn btn-primary">@Dnn.LocalizeString("Return")</a>
</div>