@inherits ApiBrowserWebPage<ViewSelection>
@using Connect.DNN.Modules.ApiBrowser.Common;
@using Connect.ApiBrowser.Core.Models;
@using Connect.ApiBrowser.Core.Repositories;
@{
    ApiBrowserModuleContext.AddModuleScript();
    var classes = ApiClassRepository.Instance.GetApiClassesByApiNamespace(Model.SelectedNamespace.NamespaceId);
}

<div class="connectapibrowser apibrowser"
     data-locale="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-tabid="@Dnn.ActiveModule.TabID"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(ApiBrowserModuleContext.Security))"
     data-selection="@(Newtonsoft.Json.JsonConvert.SerializeObject(Model))"
     data-classes="@(Newtonsoft.Json.JsonConvert.SerializeObject(classes))">
</div>

